Repository iterative/dvclive, pull requests merged in 2022-12, with the labels that each got.

#366 Create `DVC` experiment on `live.end`.
  src/dvclive/dvc.py
  src/dvclive/env.py
  src/dvclive/lightning.py
  src/dvclive/live.py
  src/dvclive/report.py
  src/dvclive/studio.py
  tests/test_dvc.py
  tests/test_main.py
  tests/test_report.py
  tests/test_studio.py
Labels: feature, A: dvc

#379 fast.ai: Handle resuming.
  src/dvclive/fastai.py
  tests/test_fastai.py
Labels: bugfix, A: frameworks

#382 _init_dvc: Skip experiment save if inside repo has stages.
  src/dvclive/live.py
  tests/test_dvc.py
Labels: A: dvc

#383 lightning: record actual training step
  src/dvclive/lightning.py
  tests/test_lightning.py
Labels: enhancement, A: frameworks

#390 live.end: Don't increment `step` value.
  src/dvclive/live.py
  tests/test_fastai.py
  tests/test_lightning.py
  tests/test_main.py
Labels: bugfix

#393 make_dvcyaml: Handle sklearn_plots properties.
  src/dvclive/dvc.py
  tests/test_dvc.py
Labels: enhancement, A: dvc

#391 studio: Remove `STUDIO_REPO_URL` requirement.
  src/dvclive/live.py
  src/dvclive/studio.py
  tests/test_studio.py
Labels: enhancement, A: studio

#401 studio: Fix passing `rev` in `dvc repro` execution.
  src/dvclive/live.py
  tests/test_dvc.py
  tests/test_studio.py
Labels: bugfix, A: studio

#399 Use `get_random_exp_name` from dvc.
  src/dvclive/dvc.py
  src/dvclive/live.py
  tests/test_dvc.py
  tests/test_main.py
Labels: A: dvc

#407 studio: Use `ls-remote --get-url` as default.
  src/dvclive/studio.py
Labels: enhancement, A: studio

#409 dvc: Don't ignore `save_dvc_exp` if there are `.dvc` files.
  src/dvclive/live.py
  tests/test_dvc.py
Labels: bugfix, A: dvc

#410 dvc: Force posixpath format in written `dvc.yaml`.
  src/dvclive/dvc.py
  tests/test_dvc.py
Labels: bugfix, A: dvc

#411 Speed up CI
  .github/workflows/release.yml
  .github/workflows/tests.yml
  setup.cfg
  tests/test_frameworks/test_catalyst.py
  tests/test_frameworks/test_fastai.py
  tests/test_frameworks/test_huggingface.py
  tests/test_frameworks/test_keras.py
  tests/test_frameworks/test_lgbm.py
  tests/test_frameworks/test_lightning.py
  tests/test_frameworks/test_xgboost.py
  tests/test_main.py
Labels: maintenance
