Repository iterative/dvclive, pull requests merged in 2023-05, with the labels that each got.

#555 live: Catch errors in `_ensure_paths_are_tracked_in_dvc_exp`.
  src/dvclive/live.py
  tests/test_dvc.py
Labels: bugfix, A: dvc

#564 fix(log_artifact): don't follow symlink on dumping dvc.yaml
  src/dvclive/dvc.py
  tests/test_log_artifact.py
Labels: bug, A: log_artifact

#559 feat(log_artifact): add an option to copy (capture) into dvclive dir
  src/dvclive/live.py
  src/dvclive/utils.py
  tests/test_log_artifact.py
Labels: feature, A: log_artifact

#525 studio: send images.
  src/dvclive/studio.py
  tests/test_studio.py
Labels: A: log_image, A: studio

#573 fix(make_dvcyaml): make it idempotent for artifacts
  src/dvclive/dvc.py
  tests/test_dvc.py
  tests/test_log_artifact.py
Labels: bug, p1-important, A: dvcyaml, A: log_artifact

#575 fix(summary): proper EOF with a newline
  src/dvclive/serialize.py
Labels: bugfix, A: summary

#577 dvc: Remove vendored get_random_exp_name.
  setup.cfg
  src/dvclive/dvc.py
Labels: A: dvc

#581 deps: bump dvc-studio-client>=0.10.0,<1
  setup.cfg
  tests/test_studio.py
Labels: A: studio

#565 live: Add `exp_message` arg.
  setup.cfg
  src/dvclive/live.py
  tests/test_dvc.py
  tests/test_log_artifact.py
  tests/test_studio.py
Labels: enhancement, A: dvc, A: studio

#590 Skip framework tests
  CONTRIBUTING.rst
  tests/test_frameworks/test_catalyst.py
  tests/test_frameworks/test_fastai.py
  tests/test_frameworks/test_huggingface.py
  tests/test_frameworks/test_keras.py
  tests/test_frameworks/test_lgbm.py
  tests/test_frameworks/test_lightning.py
  tests/test_frameworks/test_optuna.py
  tests/test_frameworks/test_xgboost.py
Labels: testing, maintenance

#563 support metrics from multiple eval sets in lgbm
  src/dvclive/lgbm.py
  tests/test_frameworks/test_lgbm.py
Labels: feature, A: frameworks

#587 xgb: infer metric data names from `evals` and deprecate `metric_data`
  src/dvclive/xgb.py
  tests/test_frameworks/test_xgboost.py
Labels: feature, A: frameworks
