Repository iterative/dvclive, pull requests merged in 2023-09, with the labels that each got.

#698 tests: Update studio tests with latest release.
  pyproject.toml
  tests/test_studio.py
Labels: testing, A: studio

#697 Update example
  examples/DVCLive-HuggingFace.ipynb
Labels: A: docs, A: frameworks

#687 Write to root dvc.yaml
  src/dvclive/dvc.py
  src/dvclive/error.py
  src/dvclive/live.py
  src/dvclive/serialize.py
  src/dvclive/studio.py
  src/dvclive/utils.py
  tests/test_dvc.py
  tests/test_log_artifact.py
  tests/test_main.py
  tests/test_make_dvcyaml.py
  tests/test_studio.py
  tests/test_vscode.py
Labels: A: dvc

#705 studio: Extract `post_to_studio` and decoulple from `make_report`
  src/dvclive/live.py
  src/dvclive/studio.py
  tests/test_studio.py
Labels: refactoring, A: studio

#707 Migrate from PyPI tokens to Trusted Publishers
  .github/workflows/release.yml
Labels: enhancement

#702 live: warn when DVC_ROOT is set but DVC_EXP_BASELINE_REV is not
  src/dvclive/live.py
  tests/test_dvc.py
Labels: A: dvc

#684 3.0 updates
  .github/workflows/tests.yml
  .gitignore
  README.md
  examples/DVCLive-HuggingFace.ipynb
  examples/DVCLive-PyTorch-Lightning.ipynb
  examples/DVCLive-Quickstart.ipynb
  examples/DVCLive-scikit-learn.ipynb
  pyproject.toml
  src/dvclive/catalyst.py
  src/dvclive/dvc.py
  src/dvclive/error.py
  src/dvclive/fastai.py
  src/dvclive/huggingface.py
  src/dvclive/keras.py
  src/dvclive/lgbm.py
  src/dvclive/lightning.py
  src/dvclive/live.py
  src/dvclive/optuna.py
  src/dvclive/serialize.py
  src/dvclive/studio.py
  src/dvclive/utils.py
  src/dvclive/xgb.py
  tests/frameworks/test_catalyst.py
  tests/frameworks/test_fastai.py
  tests/frameworks/test_huggingface.py
  tests/frameworks/test_keras.py
  tests/frameworks/test_lgbm.py
  tests/frameworks/test_lightning.py
  tests/frameworks/test_optuna.py
  tests/frameworks/test_xgboost.py
  tests/plots/test_image.py
  tests/test_cleanup.py
  tests/test_context_manager.py
  tests/test_dvc.py
  tests/test_frameworks/test_keras.py
  tests/test_log_artifact.py
  tests/test_log_metric.py
  tests/test_log_param.py
  tests/test_logging.py
  tests/test_main.py
  tests/test_make_dvcyaml.py
  tests/test_make_report.py
  tests/test_make_summary.py
  tests/test_post_to_studio.py
  tests/test_resume.py
  tests/test_step.py
  tests/test_vscode.py
Labels: refactoring

#715 log_artifact: Use name validation from GTO.
  pyproject.toml
  src/dvclive/live.py
Labels: A: dvc
