Repository iterative/dvclive, pull requests merged in 2023-04, with the labels that each got.

#517 live: Be more conservative when git adding paths inside `dvc exp run`.
  src/dvclive/live.py
  tests/test_dvc.py
Labels: bugfix, A: dvc

#523 fix(readme): broken links for docs
  README.rst
Labels: bug, A: docs

#527 Maintenance
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  noxfile.py
  pyproject.toml
  setup.cfg
  src/dvclive/catalyst.py
  src/dvclive/dvc.py
  src/dvclive/error.py
  src/dvclive/fastai.py
  src/dvclive/huggingface.py
  src/dvclive/keras.py
  src/dvclive/lightning.py
  src/dvclive/live.py
  src/dvclive/optuna.py
  src/dvclive/plots/image.py
  src/dvclive/plots/metric.py
  src/dvclive/plots/sklearn.py
  src/dvclive/report.py
  src/dvclive/serialize.py
  src/dvclive/studio.py
  src/dvclive/utils.py
  src/dvclive/xgb.py
  tests/conftest.py
  tests/plots/test_image.py
  tests/plots/test_metric.py
  tests/plots/test_sklearn.py
  tests/test_dvc.py
  tests/test_frameworks/test_catalyst.py
  tests/test_frameworks/test_fastai.py
  tests/test_frameworks/test_huggingface.py
  tests/test_frameworks/test_keras.py
  tests/test_frameworks/test_lgbm.py
  tests/test_frameworks/test_lightning.py
  tests/test_frameworks/test_optuna.py
  tests/test_frameworks/test_xgboost.py
  tests/test_log_artifact.py
  tests/test_main.py
  tests/test_report.py
  tests/test_studio.py
  tests/test_utils.py
Labels: maintenance

#528 Update README
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  README.md
  README.rst
  docs/dvc_plots_diff.png
  docs/studio_compare.png
  docs/vscode_experiments.png
  docs/vscode_plots.png
Labels: A: docs

#529 studio: Save experiment before posting `done` event.
  src/dvclive/live.py
  tests/conftest.py
  tests/test_studio.py
Labels: bugfix, A: studio

#530 Add DVCLive-Quickstart
  README.md
  examples/DVCLive-Quickstart.ipynb
Labels: A: docs

#533 studio: Support `DVC_` env vars.
  setup.cfg
  src/dvclive/live.py
  tests/conftest.py
  tests/test_studio.py
Labels: A: studio

#521 Support `artifacts` section
  src/dvclive/dvc.py
  src/dvclive/live.py
  tests/test_log_artifact.py
Labels: A: dvcyaml, A: log_artifact

#538 feat(sklplots): add confusion matrix normalized option
  src/dvclive/live.py
  src/dvclive/plots/sklearn.py
  src/dvclive/report.py
  tests/test_dvc.py
  tests/test_report.py
Labels: feature, A: log_sklearn_plot

#545 setup: Use ranges for test dependencies.
  setup.cfg
Labels: testing, maintenance

#543 live: Add `log_plot`.
  src/dvclive/dvc.py
  src/dvclive/live.py
  src/dvclive/plots/__init__.py
  src/dvclive/plots/custom.py
  src/dvclive/plots/sklearn.py
  src/dvclive/report.py
  tests/plots/test_custom.py
  tests/plots/test_sklearn.py
  tests/test_report.py
Labels: feature, A: log_plot
