Repository iterative/dvclive, pull requests merged in 2023-08, with the labels that each got.

#654 dvcyaml: warn if tracked as stage output
  src/dvclive/live.py
  tests/test_dvc.py
Labels: A: dvc

#649 HuggingFace improvements
  examples/DVCLive-HuggingFace.ipynb
  src/dvclive/huggingface.py
  tests/test_frameworks/test_huggingface.py
Labels: feature, A: frameworks

#667 dvc: Drop checkpoint.
  src/dvclive/dvc.py
  src/dvclive/live.py
  tests/test_main.py
Labels: maintenance, A: dvc

#671 update example notebooks
  examples/DVCLive-HuggingFace.ipynb
  examples/DVCLive-PyTorch-Lightning.ipynb
Labels: A: docs

#669 log_artifact: update warning inside exp
  src/dvclive/live.py
  tests/test_log_artifact.py
Labels: A: dvc

#678 live.logger: Honor DVCLIVE_LOGLEVEL env var
  src/dvclive/live.py
Labels: maintenance, bugfix

#673 utils: Add catch_and_warn.
  src/dvclive/dvc.py
  src/dvclive/live.py
  src/dvclive/utils.py
  tests/test_dvc.py
  tests/test_log_artifact.py
Labels: refactoring, A: dvc

#677 live.log_metric: Cast `nan` and `inf` to string.
  src/dvclive/live.py
  src/dvclive/plots/metric.py
  src/dvclive/studio.py
  tests/test_log_metric.py
  tests/test_main.py
Labels: bugfix, A: studio
